
<div class="container" *ngFor= "let producte of Producto">
  <div class="row">
    <div class="col">
      <img src="assets/productos_image/{{ producte.ProdImatge }}" width="350" height="350">
    </div>
    <div class="col">
      <h1>{{ producte.ProdNom }}</h1>
      <p>{{ producte.ProdDescripcio }}</p>
      <h5>Preu: {{ producte.ProdPreu }} €</h5>
      <div class="row" style="width: 300px">
        <div class="col">
          <button>S</button>
        </div>
        <div class="col">
          <button>M</button>
        </div>
        <div class="col">
          <button>L</button>
        </div>
        <div class="col">
          <button>XL</button>
        </div>
      </div>
      <br>
      <div class="row" style="width: 300px" >
        <button (click)="afegirCistell()">Afegir al cistell</button>
        <a *ngIf="isVisibleC" style="text-align: center">Producte afegit al cistell.</a>
        <a *ngIf="isVisibleCS" style="text-align: center">Cal iniciar sessió previament.</a>
      </div>
      <br>
      <div class="row" style="width: 300px">
        <button (click)="afegirFavorits()" >Afegir a favorits</button>
        <a *ngIf="isVisibleF" style="text-align: center">Producte afegit a favorits.</a>
        <a *ngIf="isVisibleFS" style="text-align: center">Cal iniciar sessió previament.</a>
      </div>

    </div>
  </div>
</div>

