
<div class="container">
  <div class="row" >
    <div class="col">
      <button class="btn btn-primary list-unstyled border-0 float-left" routerLink="/" style="background-color: white">
        <img src="assets/logo_image.png" class="header rounded float-left" width="150" vspace="10" >
      </button>
    </div>
    <div class="col text-center text-center my-4" style="width: 40%;">
      <h1 class="header-title justify-content-center align-items-center">ALEX TFG</h1>
    </div>
    <div class="col my-3" >
      <button class="btn btn-primary list-unstyled border-0 float-end" routerLink="/cistell" style="background-color: white">
        <img src="assets/carrito.png" class="rounded float-right" width="75" height="75" hspace="15">
      </button>
      <button class="btn btn-primary list-unstyled border-0 float-end" routerLink="/usuari" style="background-color: white">
        <img src="assets/user.png" class="rounded float-right" width="75" height="75" hspace="15">
      </button>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
      <div class="col">
        <div class="dropdown">
          <button class="botn">Atletisme</button>
          <div class="dropdown-options">
            <a href="#">Samarretes</a>
            <a href="#">Pantalons</a>
            <a href="#">Sabates</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button class="botn">Ciclisme</button>
          <div class="dropdown-options">
            <a href="#">Biciletes</a>
            <a href="#">Culottes</a>
            <a href="#">Maillots</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button class="botn">Futbol</button>
          <div class="dropdown-options">
            <a href="#">Sabates</a>
            <a href="#">Samarretes</a>
            <a href="#">Pantalons</a>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="dropdown">
        <button class="botn">Basquet</button>
        <div class="dropdown-options">
          <a href="#">Sabates</a>
          <a href="#">Samarretes</a>
          <a href="#">Pantalons</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="botn">Esquí</button>
        <div class="dropdown-options">
          <a href="#">Esquis</a>
          <a href="#">Botes</a>
          <a href="#">Pantalons</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="botn">Tenis</button>
        <div class="dropdown-options">
          <a href="#">Raquetes</a>
          <a href="#">Samarretes</a>
          <a href="#">Pantalons</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="botn">Altres</button>
        <div class="dropdown-options">
          <a href="#">Raquetes</a>
          <a href="#">Samarretes</a>
          <a href="#">Pantalons</a>
        </div>
      </div>
    </div>
    <div class="col">
      <button class="botn">Favorits</button>
    </div>
  </div>

</div>

<br>

<router-outlet></router-outlet>

<br>

<hr>

<div class="container">
  <div class="row" >
    <div class="col col-4">
      <h5>Contacte:</h5>
      <!-- Se puede poner imagen en vez del nombre aquí-->
      <ul style="font-family: 'Oswald', sans-serif">
        <li>Email de contacte: help@alextfg.com</li>
        <li>Instagram: alexTFG</li>
        <li>Twitter: alexTFG</li>
      </ul>
    </div>
    <div class="col col-6">
      <h5>Preguntes freqüents:</h5>
      <!-- Poner la respuesta en algún lado -->
      <ul style="font-family: 'Oswald', sans-serif">
        <li>Quin tipus de pagament acceptem?</li>
        <li>Es pot modificar una comanda?</li>
        <li>Es pot cancel·lar una comanda?</li>
        <li>Quina és la política de retorn de productes?</li>
        <li>Quina és la meva talla?</li>
      </ul>
    </div>
  </div>
</div>
