
<h1 style="text-align: center">Preguntes freqüents</h1>
<br>
<div class="container">
<dl>
  <dt>Quin tipus de pagament acceptem?</dt>
  <dd>Acceptem tant Visa, com Mastercard, Paypal, Google pay i Apple pay.</dd>
</dl>

<dl>
  <dt>Es pot modificar una comanda?</dt>
  <dd>No, un cop has realitzat la comanda ja no la podràs modificar. Si es per un error d’informació en la compta envia un mail a: help@alextfg i mirarem de resoldre el problema el més aviat possible.</dd>
</dl>
<dl>
  <dt>Es pot cancel·lar una comanda?</dt>
  <dd>No, en cas de voler cancel·lar una comanda hauràs d’esperar a que t’arribi a casa i retornar els productes. Un cop la comanda és realitzada no es podran fer modificacions.</dd>
</dl>
<dl>
  <dt>Quina és la política de retorn de productes?</dt>
  <dd>Pots retornar els productes a les tendres oficials de la marca en un període de 20 dies a partir del dia que la comanda arriba a casa. <br>
    Per retornar per internet tens 30 dies a partir del dia que la comanda arriba a casa i el preu d’enviament no serà responsabilitat de l’empresa.
  </dd>
</dl>
<dl>
  <dt>Quina és la meva talla?</dt>
  <dd>Comprant per internet és complicat triar correctament la talla, però l’empresa recomana que triïs la talla que normalment utilitzes. </dd>
</dl>
</div>
