
<h1 class="text-center">Favorits</h1>

<div class="container">
  <div class="row">
    <div class="col" *ngFor= "let productes of listFavorits">
      <button class="btn list-unstyled border-0" [routerLink]="['/detall-producte', productes._id]">
        <img src="assets/productos_image/{{ productes.ProdImatge }}" width="250" height="250">
        <h5>{{ productes.ProdNom }}</h5>
        <a>{{ productes.ProdPreu }} €</a><br>
        <button (click)="eliminarFavorits(productes._id)">Eliminar de favorits</button>
      </button>

    </div>
  </div>
</div>
<h4 class="text-center" *ngIf="listFavorits.length == 0">Encara no hi ha productes a favorits</h4>

