
<h1 class="text-center">Favorits</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <button (click)="setVista()" *ngIf="vista" type="button" class="btn btn-outline-secondary float-end" style="height:40px;width:120px;">Vista petita</button>
      <button (click)="setVista()" *ngIf="!vista" type="button" class="btn btn-outline-primary float-end" style="height:40px;width:120px;">Vista gran</button>
      <div class="search-name float-end" style="margin-right: 20px">
        <input class="form-control" type="text" name="search"
               [(ngModel)]="searchText" autocomplete="on"
               placeholder=" Què vols trobar? " maxlength="50" style="width: auto">
      </div>
    </div>
    <div class="col-3" style="margin-left: auto; width: auto">
      <div class="dropdown">
        <button class="botn">Ordenar per</button>
        <div class="dropdown-options">
          <a (click)="getFavorits(2)">Nom del producte</a>
          <a (click)="getFavorits(3)">Marca</a>
          <a (click)="getFavorits(4)">Preu (menys a més)</a>
          <a (click)="getFavorits(5)">Preu (més a menys)</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" *ngFor= "let productes of listFavorits | filter:searchText">
      <div class="row">
        <button class="btn list-unstyled border-0" [routerLink]="['/detall-producte', productes._id]">
          <img *ngIf="vista" src="assets/productos_image/{{ productes.ProdImatge }}" width="250" height="250">
          <img *ngIf="!vista" src="assets/productos_image/{{ productes.ProdImatge }}" width="100" height="100">
          <h5>{{ productes.ProdNom }}</h5>
          <a>{{ productes.ProdPreu }} €</a><br>
        </button>
        <button class="btn btn-outline-danger" style="width: auto; margin: auto" (click)="eliminarFavorits(productes._id)">Eliminar de favorits</button>
      </div>
    </div>
  </div>
</div>
<h4 class="text-center" *ngIf="listFavorits.length == 0">Encara no hi ha productes a favorits</h4>

